.vs/*
Binaries/*
Intermediate/Build/*
Intermediate/ReImportCache/*
Intermediate/Staging/*
Intermediate/CachedAssetRegistry.bin
Saved/*
Build/*
Content/CardImages/*
Content/CardMaterials/*
Content/CardMeshes/*
Content/Images/*
Content/Audio/*
*.sdf
*.VC.opendb
